.link-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #2e2e3a;
  border-radius: 10px;
  color: #fff;
  gap: 0.4rem;
}

.link-box h3 {
  margin: 0;
  font-size: 20px;
  color: #a88cff;
}

.link-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.link-list a {
  display: inline-block;
  padding: 6px 12px;
  background-color: #7b68ee;
  color: #b3b7ff;
  text-decoration: none;
  border-radius: 5px;
  user-select: none;
}

.link-list a.active {
  background-color: #5a47c5;
  color: #ddd;
}

.link-list a:hover {
  background-color: #6a57dd;
}
