body {
  font-family: 'Microsoft YaHei', 'Noto Sans SC', 'Segoe UI', 'PingFang SC',
    'HarmonyOS Sans SC', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.purple-btn {
  background-color: #6a5acd;
  color: white;
  min-width: 80px;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.purple-btn:hover {
  background-color: #836fff;
}

@media screen and (max-width: 420px) {
  .purple-btn {
    width: 100%;
    font-size: 16px;
    padding: 10px;
  }
}
