* {
  box-sizing: border-box;
}

html {
  background-color: #16161a;
  color: #fffffe;
  line-height: 1.5;
  word-wrap: break-word;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 100ch;
  padding: 0.4rem;
  line-height: 1.5;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

a {
  padding: 0.5rem 1rem;
  background-color: #8a66d3;
  border-radius: 7px;
}

a:link,
a:visited {
  color: #fffffe;
}

a:hover,
a:active {
  color: #2ccaea !important;
}
