body {
  font-family: 'Microsoft YaHei', 'Noto Sans SC', 'Segoe UI', 'PingFang SC',
    'HarmonyOS Sans SC', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1e1e2f;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  font-family: 'Microsoft YaHei', 'Noto Sans SC', 'Segoe UI', 'PingFang SC',
    'HarmonyOS Sans SC', sans-serif;
}

.purple-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8a66d3;
  color: white;
  min-width: 80px;
  padding: 6px 8px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  height: 34px;
  line-height: 34px;
  text-align: center;
  letter-spacing: 1.4px;
}

.purple-btn:hover {
  background-color: #00bcd4;
}
