.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 80%;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #222;
  border: 1px solid #444;
}

th {
  background-color: #333;
  color: #fff;
  padding: 8px;
  text-align: left;
  border-bottom: 2px solid #444;
  text-align: center;
  white-space: nowrap;
}

td {
  padding: 8px;
  border-bottom: 1px solid #444;
  color: #ddd;
  text-align: center;
  font-size: 15px;
}

tr:hover {
  background-color: #444;
}

#searchBox {
  padding: 10px;
  width: 80%;
  font-size: 16px;
  background-color: #222;
  color: #fff;
  border: 1px solid #444;
  outline: none;
  border-radius: 4px;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pagination button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #444;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.pagination button:hover {
  background-color: #666;
}

#jumpPageInput {
  width: 44px;
  padding: 6px 10px;
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #555;
  border-radius: 6px;
  font-size: 14px;
  outline: none;
  -moz-appearance: textfield;
}

#jumpPageInput::-webkit-outer-spin-button,
#jumpPageInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#jumpPageInput[type='number'] {
  -moz-appearance: textfield;
}

#jumpPageInput:hover,
#jumpPageInput:focus {
  border-color: #8ab4f8;
  box-shadow: 0 0 4px #8ab4f860;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media screen and (max-width: 420px) {
  th {
    font-size: 14px;
    padding: 6px;
  }

  td {
    font-size: 14px;
    padding: 4px;
  }

  /* 隐藏不需要的列 */
  th:nth-child(6), /* 英文 */
  th:nth-child(7), /* 例句 */
  th:nth-child(8), /* 中文释义 */
  th:nth-child(9), /* 日语释义 */
  td:nth-child(6),
  td:nth-child(7),
  td:nth-child(8),
  td:nth-child(9) {
    display: none;
  }
}
