.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 90%;
  max-width: 600px;
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.auth-container {
  display: flex;
  justify-content: space-between;
  gap: 0.2rem;
  align-items: center;
  width: 100%;
}

.auth-container #userStatus {
  margin: 0;
  font-size: 20px;
  color: #fff;
  flex-grow: 1;
}

.auth-container input {
  max-width: 160px;
  padding: 8px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #333;
  color: #fff;
}

.auth-container input:focus {
  outline: none;
  border-color: #8a66d3;
}

.auth-container button {
  min-width: 80px;
  padding: 8px 6px;
  background-color: #8a66d3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  flex-grow: 0;
  transition: background-color 0.3s ease-in-out;
}

.auth-container button:hover {
  background-color: #6a4c9c;
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b2b2b;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #8a66d3;
  transition: transform 0.2s ease-in-out;
  padding: 0px;
}

.nav-button.left {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 18px solid #8a66d3;
}

.nav-button.right {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 18px solid #8a66d3;
}

.nav-button:hover {
  transform: scale(1.1);
}

.card-content {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-content .row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#speakButton {
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: #8a66d3;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

#speakButton:hover {
  background-color: #6a4c9c;
}

#japanese {
  font-size: 28px;
  color: #fff;
}

#kana {
  font-size: 20px;
  font-weight: bold;
  color: #aaa;
}

#chinese,
#romaji {
  font-size: 16px;
  color: #ddd;
}

.training {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.training input {
  padding: 12px;
  width: 240px;
  font-size: 18px;
  border-radius: 8px;
  border: 1px solid #aaa;
  background-color: #333;
  color: #fff;
}

.training input:focus {
  border-color: #8a66d3;
  outline: none;
}

#checkButton {
  padding: 12px 20px;
  background-color: #8a66d3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#checkButton:hover {
  background-color: #6a4c9c;
}

#result {
  color: #8a66d3;
}
